.professorListTable {
    width: 1200px;
}


.professorDetailform {
    width: 1200px;
}

.professorDetailtr {
    align-items: center;

}

.professorDetailTable td {
    padding: 10px;
}

.professorDetailBtn {
    margin-left: 900px;
}

.DetailBtn {
    margin: 20px;
}

.professorInsertform {
    width: 1000px;
}

.professorInsertBtn {
    margin-left: 700px;
}

.insertBtn {
    margin-left: 40px;
    margin-top: 15px;
}

.leftBtn {
    margin-top: 28px;
    height: 40px;
}

.rightBtn {
    margin-top: 28px;
    margin-left: 1px;
    height: 40px;
}