.studentListTable {
    width: 1200px;
}

.studentDetailTable {
    width: 1200px;
}

.studentDetailform {
    width: 1200px;
}

.studentDetailtr {
    align-items: center;

}

.studentDetailTable td {
    padding: 10px;
}

.studentDetailBtn {
    margin-left: 900px;
}

.DetailBtn {
    margin: 20px;
}

.studentInsertform {
    width: 1000px;
}

.studentInsertBtn {
    margin-left: 700px;
}

.insertBtn {
    margin-left: 40px;
    margin-top: 15px;
}

.leftBtn {
    margin-top: 28px;
    height: 40px;
}

.rightBtn {
    margin-top: 28px;
    margin-left: 1px;
    height: 40px;
}