.inputBox {
    width: 300px;
    height: 35px; 
    margin-right: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}

.labelSt {
    width:500px;
    height:35px;
    margin-top:10px; 
}

.tbodySt {
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: #F8EDF5;
}