.productDiv {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    height: 100%;
    margin: 10px;
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn2{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    height: 10%;
   
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: burlywood;
}

.content{
    cursor: pointer;
}

.insertBtn {
    margin-left: 40px;
    margin-top: 15px;
}
